body{
	width: 100%;
	padding-top:60px;
	background-color:#ffffff;
}

#wrapper{
	height: 400px;
	width: 80%;
	background-color: #ffd700;
	border-radius: 10px;
	padding:3%;
	margin:auto;
}

#left{
	width:47%;
	height:90%;
	border-radius: 10px;
	background-color:#ffffff;
	float:left;
}

#left img{
	margin-top:350px;
	margin-left:5%;
}

#right{
	float:right;
	width:47%;
	height:100%;
}

#login form{
	height:100%;
	width:100%;

}

#login fieldset{
	height:100%;
	width:100%;
	padding-top:4%;
}

#login{	
	height: 55%;
	border-radius: 5px;
	background-color: #a0522d;
}

#login_title{	
	height: 20%;
	width:100%;
	margin:auto;
	padding-top:4px;
	text-align: center;
	color: #ffffff;
	background-color: #ff8c00;
}

.login_form{
	margin-top:10px;
	height:25%;
}

.login_form label{
	clear:left;
	float:left;
	width:30px;
	height:30px;
	padding:3px;
	margin-right:10px;
	border-radius: 15px;
	background-color:#ffffff;
}

.login_form input{
	float:left;
	width:75%;
	height:80%;
	background-color:#ffffff;
}

#login button{
	height: 20%;
	width:100%;
	margin:auto;
	padding:0px;
	background-color: #ff8c00;
}

#btns{
	height: 30%;
	margin-top: 15%;
}

.btn{
	height: 30px;
	width:95%;
	margin-top:10px;
	padding-top:3px;
	text-align: center;
	background-color: #ff8c00;
}

.btn a{
	display:block;
	color: #ffffff;
}

#btns img{
	margin-top:60px;
	margin-left:60%;
}